/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.hero img {
  width: 100%;
}

.topbar {
  position: absolute;
  width: 100%;
	margin-top: 23px;
}

.topbar ul {
	width: 555px;
	margin:0 auto;
}

.topbar li {
  display: inline-block;
  padding: 0 18px;
	letter-spacing: 2px;
  float: left;
	position: relative;
	top: 42px;
	transform: translateY(-50%);
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 11px;
}

.topbar li a {
  text-decoration: none;
	color: #514e60;
}

.topbar li a img {
	width: 77px;
}

.slogan img {
	margin-top: 95px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	margin-bottom: 25px;
}

.slogan header {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	letter-spacing: 3px;
	display: block;
	width: 50%;
	text-align: center;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
  color: #000000b3;
}

.slogan p {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 105px;
	display: block;
	width: 65%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 1.04vw;
	line-height: 175%;
	color: #808080db;
}

.vintage img {
	position: absolute;
}

#bikelogo {
  z-index: 30;
  margin-top: 15%;
  margin-left: 30%;
  width: 7.5%;
}

#companylogo {
  z-index: 20;
  margin-top: 19.5%;
  margin-left: 30%;
  width: 7.5%;
}

#bikeimage1 {
  z-index: 10;
  width: 67%;
}

#frameicon {
  margin-top: 4%;
  margin-left: 82%;
  width: 2.5%;
}

.vintage header {
  padding-top: 7.5%;
  margin-left: 68.5%;
  margin-right: auto;
  margin-bottom: 20px;
  letter-spacing: 3px;
  display: block;
  width: 30%;
  text-align: center;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2vw;
  color: #000000b3;
}

.vintage p {
  margin-left: 71%;
  margin-right: auto;
  margin-bottom: 8%;
  display: block;
  width: 26%;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  line-height: 185%;
  color: #808080db;
}

#seat {
	margin-top: 24.9%;
	margin-left: 67%;
	width: 34%;
}

.boriosa img {
	position: absolute;
}

#sprocket {
  margin-top: 14%;
  margin-left: 15%;
  width: 2.5%;
}

.boriosa header {
	padding-top: 18.5%;
	margin-left: -8.5%;
	margin-right: auto;
	margin-bottom: 20px;
	letter-spacing: 3px;
	display: block;
	width: 50%;
	text-align: center;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2vw;
	color: #000000b3;
}

.boriosa p {
	margin-left: 4%;
  margin-right: auto;
  display: block;
  width: 26%;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 1vw;
  line-height: 185%;
  color: #808080db
}

#seat2 {
	margin-top: 35.15%;
	width: 34%;
}

#bike3 {
	margin-left: 34%;
	margin-top: 10%;
	width: 67%;
}

#vintagelogo {
	margin-top: 24%;
	margin-left: 62%;
	z-index: 50;
	width: 11%;
}
